root /path/to/built/folder;
index index.html;
# allow csp for admin.shopify.com
location / {
    add_header Content-Security-Policy "frame-ancestors https: admin.shopify.com";

    try_files $uri $uri/ /index.html;
}
location /graphql {
    proxy_pass http://example.com:8080;
    proxy_set_header Host               $http_host;
    proxy_set_header X-Forwarded-Host   $http_host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto  https;
    proxy_set_header X-Forwarded-Port   443;
    proxy_headers_hash_max_size         512;
    proxy_headers_hash_bucket_size      128;
    proxy_buffer_size                   128k;
    proxy_buffers                       4 256k;
    proxy_busy_buffers_size             256k;
    fastcgi_buffer_size                 32k;
    fastcgi_buffers                     4 32k;
    proxy_set_header X-Xpify-App-Token	'app_token';
}
