<script src="{{ 'otsb-vendors.js' | asset_url }}" defer></script>
<div class="otsb__root">
  <div id="otsb-popup-exit-intent" x-data x-cloak></div>
  <div id="otsb-popup-minimal-left"></div>
  <div id="otsb-popup-minimal-right"></div>
</div>
{% schema %}
  {
    "name": "Section Builder Script",
    "target": "body",
    "settings": []
  }
{% endschema %}
