{%- if request.design_mode -%}
  <script src="{{ 'otsb-theme-editor-alpine.js' | asset_url }}" defer></script>
{%- endif -%}
<script src="{{ 'otsb-script.js' | asset_url }}" defer></script>
<div class="otsb__root">
  <div id="otsb-popup-exit-intent" x-data x-cloak></div>
  <div id="otsb-popup-minimal-left"></div>
  <div id="otsb-popup-minimal-right"></div>
</div>
{% schema %}
  {
    "name": "OT: Theme Sections Script",
    "target": "body",
    "settings": []
  }
{% endschema %}
