/* Custom Style Polaris */
.Polaris-Modal-Dialog__Modal.Polaris-Modal-Dialog--sizeLarge {
  max-width: 90% !important;
}

.Polaris-IndexFilters__ButtonWrap > .Polaris-InlineStack > div:first-child {
  /* Remove Cancel btn in component Index Filter Polaris */
  display: none;
}



/* BSS Style */
.pointer {
  cursor: pointer;
}


.title-collapsible {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.grid-guide {
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto 1fr auto;
  column-gap: var(--p-space-300);
}

.bss-setup-guide:hover {
  background-color: var(--p-color-bg-surface-hover);
}

.dotted-icon > circle {
  display: none;
}

.dotted-icon:hover > circle {
  display: block;
}

.step-complete{
  border: var(--p-border-width-025) solid var(--p-color-border);
  border-radius: var(--p-border-radius-200);
  padding: 0 var(--p-space-200);
}

.section-builder-paginate {
  display: flex;
  justify-content: center;
}

.section-builder-paginate ul {
  display: flex;
  flex-wrap: wrap;
}

.section-builder-paginate ul li {
  cursor: pointer;
  list-style-type: none;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
  box-shadow: var(--p-shadow-card);
}

.section-builder-paginate ul li.selected {
  background-color: var(--p-action-primary);
  color: #fff;
}

.section-builder-paginate ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 10px;
  min-width: 33px;
  height: 33px;
}

.section-builder-paginate ul a[aria-disabled=true] {
  pointer-events: none;
  opacity: .2;
}

.section-builder-paginate ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 10px;
  min-width: 33px;
  height: 33px;
}