/* Custom Style Polaris */
@media only screen and (min-width: 768px) {
  .Polaris-Modal-Dialog__Modal.Polaris-Modal-Dialog--sizeLarge {
    max-width: 90% !important;
  }
}

.Polaris-IndexFilters__ButtonWrap > .Polaris-InlineStack > div:first-child {
  /* Remove Cancel btn in component Index Filter Polaris */
  display: none;
}



/* BSS Style */
.pointer {
  cursor: pointer;
}

.z-index10 {
  z-index: var(--p-z-index-10) !important;
}

.title-collapsible {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.max-w-full {
  min-width: 70%;
  max-width: 100%;
}

.grid-guide {
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto 1fr auto;
  column-gap: var(--p-space-300);
}

.bss-setup-guide:hover {
  background-color: var(--p-color-bg-surface-hover);
}

.dotted-icon > circle {
  display: none;
}

.dotted-icon:hover > circle {
  display: block;
}

.step-complete{
  border: var(--p-border-width-025) solid var(--p-color-border);
  border-radius: var(--p-border-radius-200);
  padding-right: var(--p-space-200);
}

.step-complete-padding-left{
  padding-left: var(--p-space-200);
}

button.splide__arrow {
  background-color: #ffffff;
}

.splide-gallery-li {
  background-color: #eeeeee;
  display: flex;
  justify-items: center;
}

.splide-gallery-li > img {
  margin: auto;
}

.splide__pagination > li {
  margin: 0 3px;
}

.splide__pagination > li > button.splide__pagination__page {
  background-color: #000000;
  opacity: 0.2;
}

.splide__pagination > li > button.splide__pagination__page.is-active {
  opacity: 0.8;
}

.popover-header button {
  padding: var(--p-space-100);
}

.popover-header button .Polaris-Text--root {
  font-size: var(--p-text-heading-lg-font-size);
  font-weight: var(--p-font-weight-bold);
}

.grid-template-section-simple {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.grid-template-section-group {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3fr 0.5fr;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .grid-template-section-simple, .grid-template-section-group {
    grid-template-columns: 1fr;
  }
}